footer-content.d-flex.flex-column.justify-content-center.flex-lg-row
    .footer__address.d-flex.flex-column.justify-content-center.align-items-center.col-lg-6.order-lg-1.align-items-lg-end
        span г. Москва, Н. Сыромятническая,
        span 10, стр. 2, 7 этаж (коворкинг Artplay)
    .footer__contacts.d-flex.justify-content-center.align-items-center.col-lg-6.order-lg-0.flex-lg-column.align-items-lg-start
        a(href="tel:89611628650").order-lg-1 8 (961) 162-86-50
        a(href="mailto:info@myweb.su").order-lg-0 info@myweb.su