//- Include used template for this page
extends ../../templates/template

//- VARIABLES FOR INCLUDE THIS IN USED TEMPLATE
block variables
    - let title       = 'Главная'
    - let description = ''
    - let keywords    = ''
    - let pageClass   = 'page-index'

block content
    p Content