//- Include used template for this page
extends ../../templates/template

//- VARIABLES FOR INCLUDE THIS IN USED TEMPLATE
block variables
    - let title       = 'Главная'
    - let description = ''
    - let keywords    = ''
    - let pageClass   = 'page-index'

block content
    .container
        .content.d-flex.flex-column.justify-content-center.align-items-center.flex-lg-row
            .content__jobs.order-lg-2 дизайн • маркетинг
            .content__pic.order-lg-1
                img(src="../../../img/logo.png")
            .content__desc.order-lg-0 сайт на реконструкции