//- Animation functions
$fnc-primary                 : cubic-bezier(0.075, 0.82, 0.165, 1);
$fnc-animation               : all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
$fnc-line                    : all .3s linear;

// Colors
$clr-font-prim              : #000;
$clr-font-sec               : #fffefe;

// Fonts
$fnt-main                   : 'Roboto', sans-serif;

// Media quires
$xl                         : 1200px;
$lg                         : 992px;
$md                         : 768px;
$sm                         : 576px;